header{}
header #container{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}
.nav_right ul li{
    float: left;
    margin-right: 15px;
}
header button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.nav_left{
    margin-left: 15px;
    cursor: pointer;
}