*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
#container{
    /*width: 1140px;*/
    margin: 0 auto;
}
/*미디어쿼리
@media screen and (max-width: 1140px){
    main #container{width: 992px;}
    section #container{width: 600px;}
}
@media screen and (max-width: 992px){
    main #container{width: 768px;}
    html{font-size: 14px;}
}
@media screen and (max-width: 768px){
    main #container{width: 576px;}
    section #container{width: 400px;}
    html{font-size: 13px;}
}
@media screen and (max-width: 576px){
    main #container{width: 360px;}
    section #container{width: 360px;}
    html{font-size: 12px;}
}
@media screen and (max-width: 400px){
    main #container{width: 320px;}
    section #container{width: 320px;}
    html{font-size: 11px;}
}*/